<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.i000.stock.user.dao.mapper.HoldNowMapper">

    <resultMap id="HoldNow" type="com.i000.stock.user.dao.model.HoldNow">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="old_date" property="oldDate"/>
        <result column="old_price" property="oldPrice"/>
        <result column="old_rank" property="oldRank"/>
        <result column="new_date" property="newDate"/>
        <result column="new_rank" property="newRank"/>
        <result column="new_price" property="newPrice"/>
        <result column="hold_day" property="holdDay"/>
        <result column="gain" property="gain"/>
        <result column="type" property="type"/>
        <result column="amount" property="amount"/>
        <result column="user_code" property="userCode"/>
        <result column="action" property="action"/>
    </resultMap>

    <select id="getByNameDateType" resultMap="HoldNow">
        select * from hold_now where user_code=#{userCode} and `name`=#{name} and type=#{type} and old_date=#{date}
    </select>

    <select id="find" resultMap="HoldNow">
        select * from hold_now where user_code=#{userCode}
    </select>

    <update id="updatePrice">
        update hold_now set new_price=#{price},new_date=#{date} ,gain=(new_price-old_price)/old_price where `name`=#{name}
    </update>

</mapper>