<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.i000.stock.user.dao.mapper.LineMapper">

    <resultMap id="LineGroup" type="com.i000.stock.user.dao.bo.LineGroupQuery">
        <result column="groupCondition" property="date"/>
        <result column="base_market" property="baseMarket"/>
        <result column="ai_market" property="aiMarket"/>
        <result column="gain" property="gain"/>
    </resultMap>


    <!--当周 当月按天划分-->
    <select id="findByStepDay" resultMap="LineGroup">
        select date as groupCondition,base_market,ai_market,gain from line where   DATE_SUB(CURDATE(), INTERVAL #{step.step} DAY) &lt;= date(date)

    </select>

    <!--当季 当年按 周/月划分-->
    <select id="findByStepGroup" resultMap="LineGroup">
        select DATE_FORMAT(o.date,#{step.groupCondition}) groupCondition,
        AVG(o.ai_market) ai_market,
        AVG(o.base_market)base_market ,
        AVG(o.gain)gain
        from (
        select * from line where DATE_SUB(CURDATE(), INTERVAL #{step.step} DAY) &lt;= date(date)
        ) o
        group by groupCondition;
    </select>


</mapper>