<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.i000.stock.user.dao.mapper.UserInfoMapper">

    <resultMap id="UserInfo" type="com.i000.stock.user.dao.model.UserInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="account_no" property="accountNo"/>
        <result column="password" property="password"/>
        <result column="mail_no" property="mailNo"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="init_amount" property="initAmount"/>
        <result column="init_num" property="initNum"/>
    </resultMap>

    <select id="getByName" resultMap="UserInfo">
        select * from user_info where  `name`=#{name}
    </select>

    <select id="search" parameterType="com.i000.stock.user.dao.bo.BaseSearchVo" resultMap="UserInfo">
        select sql_calc_found_rows  * from user_info ORDER BY created_time DESC limit ${baseSearchVo.start},${baseSearchVo.pageSize}
    </select>

</mapper>